@import "../node_modules/bootstrap/scss/images";

//--------------------------------------
// IMAGE
//--------------------------------------
img {
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}
