@import "../node_modules/bootstrap/scss/placeholders";

//--------------------------------------
// DRUPAL PLACEHOLDERS
//--------------------------------------
em.placeholder {
  background-color: transparent;
  cursor: inherit;
  opacity: 1;
}
