//--------------------------------------
// FIX TO THE MENU SHOWING BELOW THE MAIN PAGE
//--------------------------------------
.dialog-off-canvas-main-canvas+.off-canvas-wrapper {
  display: none;
}

//--------------------------------------
// DARK THEME OVERRIDES
//--------------------------------------
.mm-menu_theme-dark {
  --mm-color-border: var(--bs-black-800);
  --mm-color-button: var(--bs-white);
  --mm-color-text: var(--bs-white);
//   --mm-color-text-dimmed: rgba( 255,255,255, 0.4 );
  --mm-color-background: var(--bs-black);
//   --mm-color-background-highlight: rgba( 255,255,255, 0.08 );
//   --mm-color-background-emphasis: rgba( 0,0,0, 0.1 );
//   --mm-shadow: 0 0 20px rgba( 0,0,0, 0.5 );
}

//--------------------------------------
// PANEL
//--------------------------------------
.mm-panels {
  .mm-navbar__title {
    background-color: var(--bs-black-800);
    font-weight: 700;
    opacity: 1;
  }
  .mm-navbar__btn:hover,
  .mm-listitem__btn:hover {
    background-color: var(--bs-black-800);
  }
  .mm-listitem:after {
    left: 0;
  }
  .mm-listitem__text {
    font-weight: 500;
  }
  ~ .project-back-button {
    border-top: 1px solid var(--mm-color-border);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;

    .mm-navbar {
      display: none;
    }
  }
}
.mm-menu a {
  &,
  &:link {
    color: var(--bs-white);
  }
}

//--------------------------------------
// RESPONSIVE MENU
//--------------------------------------
.responsive-menu-toggle-icon {
  background-color: var(--bs-black-300);
  height: 31px;

  span.label {
    display: none;
  }
}
